#board{
  display: grid;
  gap: .5rem;
  grid-template-columns: repeat(3, minmax(105px, 1fr));
  margin-bottom: 50px;
  column-gap: .5rem;
}

#heading{
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#heading img{
  margin-top: 1rem;
  margin-right: 1rem;
}

.heading {
  display: none;
}

.square{
  background-color: yellowgreen;
  height: 120px;
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.square:hover{
  box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-2px) scale(1.1);
  background-color: rgba(10, 22, 4, 0.714);
  cursor: pointer;
}